@using ToDo.Domain.Dtos
@model List<GetItemsVM>
@{
    ViewData["Title"] = "Tasks Page";
}

<div class="text-center">
    <h3 class="my-1">لیست کارها</h3>
</div>
<div class="w-100">
    <a class="btn btn-success btn-sm my-2 shadow" asp-controller="Home" asp-action="CreateOrUpdate" >افزودن</a>
    <div class="mx-auto">
        <table class="table text-center table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>وضعیت تکمیل</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in Model)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@(i.IsActive ? "فعال" : "غیر فعال")</td>
                        <td>@(i.IsComplete ? "تکمیل" : "تکمیل نشده")</td>
                        <td>
                            <div>
                                <a class="btn btn-warning" asp-controller="Home" asp-action="CreateOrUpdate" asp-route-id="@i.Id">ویرایش</a>
                                <a class="btn btn-danger @(i.IsActive == false ? "hidden" : "")" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">حذف</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
